.buttonGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sorter{
    text-align: center;
    align-self: center;
}
.NoInfo
    {
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 35px;
    }
